/*
* {
	outline: 1px solid pink;	
}
*/

html, body {
	height: 100%;
	min-width: 600px;
	min-height: 100px;
	font-family: 'HelveticaNeueW01-65Medi', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
}

#wrapperHead {
	max-width: 1200px;
	margin: auto;
}

.clickable {
	cursor: pointer;
}

.clickable:hover {
	opacity: 0.7;
}

header {
	background-color: #eee;
	border-bottom: 2px solid #045FB4;
}

h1 {
	display: inline-block;
	margin: 5px;
	font-size: 40px;
	font-weight: bold;
	letter-spacing: -0.02em;
	color: #045FB4;
}

img {
	position: absolute;
	clip: rect(0px, 0px, 0px, 0px);
}

a:visited {
	color: #045FB4;
	text-decoration: none;
}

a:link {
	color: #045FB4;
	text-decoration: none;
}

nav {
	display: inline-block;
	float: right;
	font-size: 0;
	margin-right: 5px;
	height: 100%;
}

nav a {
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	margin: 0px 2px;
	height: 50px;
	width: 46px;
}

.linkedin { background-image: url(../images/linkedin.png); }
.email { background-image: url(../images/email.png); }
.twitter { background-image: url(../images/twitter.png); }
.github { background-image: url(../images/github.png); }

#projects {
	display: block;
	font-size: 0;
	width: 100%;
	max-width: 1200px;
	margin: auto;
	-webkit-animation-duration: 600ms;
	-webkit-animation-delay: 0;
}

#projects > div {
	display: inline-block;
	font-size: 16px;
	width: 25%;
	height: 50%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.p-inner {
	position: relative;
	background: rgba(0,0,0,0.6);
	height: 100%;
	border-radius: 5px;
	opacity: 0;
	-webkit-transition: all linear 0.2s;
	transition: all linear 0.2s;
}

.p-inner:hover  {
	opacity: 1;
}

.p-inner p {
	position: absolute;
	top: 40%;
	left: 0;
	right: 0;
	text-align: center;
	color: #fff;
	font-weight: bold;
}

#project-details {
	position: relative;
	-webkit-animation-duration: 400ms;
	-webkit-animation-delay: 0;
}

.project-details-container {
	position: absolute;
	left: 0;
	right: 0;
	max-width: 1200px;
	font-size: 0;
	width: 95%;
	height: 300px;
	margin: 10% auto;
}

.project-details-container > div {
	display: inline-block;
	font-size: 16px;
	height: 100%;
	color: #045FB4
}

.back {
	background-image: url(../images/Chevron_left_blue.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	width: 5%;
}

.project-details-description {
	width: 55%;
	vertical-align: top;
	padding: 1%;
}

.project-details-description a:link {
	font-weight: bold;
}

.project-details-description-head {
	font-size: 0;
	margin-bottom: 10px;
}

.project-details-description-head h2 {
	display: inline-block;
	margin-right: 10px;
	font-size: 24px;
	font-weight: bold;
}

.project-details-description p {
	margin-bottom: 8px;
}

.github_p {
	display: inline-block;
	height: 24px;
	width: 24px;
	vertical-align: bottom;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-image: url(../images/github.png);	
}

#skills {
	font-style: italic;
	margin-bottom: 10px;
}

#project-details-screeny {
	display: inline-block;
	width: 38%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.template {
	display: none;
}

h3 {
	display: none;
}